<div class="comments">
    {{#each this}}
    <div class="card text-white bg-secondary mb-3">
        <h3><div class="card-header"></div></h3>
        <div class="card-body">
        <p class="card-text">{{comment}}</p>
        </div> 
         <div class="card-footer text-white">
                <p>Comment by {{user.username}}: {{created_at}}</p>
        </div>
    </div>
 {{/each}}
</div>

