<div class="comments">
    {{#each this}}
    <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
        <h3><div class="card-header"></div></h3>
        <div class="card-body">
        <p class="card-text">{{comment}}</p>
        </div> 
         <div class="card-footer text-muted">
                <p>{{user.username}}</p>
        </div>
    </div>
 {{/each}}
</div>

