{{#if posts.length}}
<section>
    <h2>My Posts</h2>
    <ul>
        {{#each posts as |post|}}
        <li>
            {{> post-info post}}
         
        </li>
        {{/each}}
    </ul>
</section>
{{/if}}
<button type="submit" class="btn me-md-2 btn-secondary"><a class="link" href="/dashboard/new" id="new-post-link">New Post</a></button>

<script src="/js/addPost.js"></script>
<script src="/js/deletePost.js"></script>

