    <div class="card mt-4">
      <h3 class="card-header">New Post</h3>
      <form id="new-post" class="new-post">
        <label class="form-label" for="post-title">Title</label>
        <input  id="post-title" name="post-title" type="text" autofocus="true" class="form-input" />

        <label class="form-label" for="content">Post Content</label>
        <input  id="post-content" name="post-content" type="text" autofocus="true" class="form-input" />

         <button type="submit" class="btn me-md-2 btn-secondary">Add Post</button>
      </form>
    </div>
    
<script src="/js/addPost.js"></script>